* {/* Reset CSS. */
    margin: 0;/* margem: distância "para fora" em um elemento. */
    padding: 0;/* preenchimento: distância "para dentro" em um elemento. */
    box-sizing: border-box;
    text-decoration: none;/* sem decorações*/

}


:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

body{
    background-color: var(--body-bg-color);

}


html,body{

    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}




.conteudo-primario-foto{
    margin-top:100px;
    height: 9.4rem;
    padding: 0.2rem;
    border-radius: 100%;
    border: 0.15rem solid var(--purple);
    display:block;
    margin-left: auto;
    margin-right: auto;

}



.instagram{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    color: var(--purple);
    font-size: .75rem;
    font-weight: normal;
}

div.container {
    text-align: center;
}

ul.links{
    display: inline-block;
    text-align: left;
    list-style: none;
    
}


.links-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 250px;
    height: 40px;
    border: 0.15rem solid var(--purple);
    border-radius: 0.3rem;
    color: var(--purple);
    font-size: .75rem;
    font-weight: bold;
}

ul.socialLinks{
    margin: 0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
}
.socialLinks-img{
    height: 18px;
}